@import "tailwindcss";

@theme {
  --color-bg: var(--color-zinc-900);
  --color-fg: var(--color-zinc-100);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body, #root {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}
